<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#10-数据分组/数组透视表" data-toc-modified-id="10-数据分组/数组透视表-1">10 - 数据分组 / 数组透视表</a></span><ul class="toc-item"><li><span><a href="#10.1-数组分组" data-toc-modified-id="10.1-数组分组-1.1">10.1 数组分组</a></span><ul class="toc-item"><li><span><a href="#10.1.1-分组键是列名" data-toc-modified-id="10.1.1-分组键是列名-1.1.1">10.1.1 分组键是列名</a></span></li><li><span><a href="#10.1.2-分组键是Series" data-toc-modified-id="10.1.2-分组键是Series-1.1.2">10.1.2 分组键是 Series</a></span></li><li><span><a href="#10.1.3-神奇的aggregate方法" data-toc-modified-id="10.1.3-神奇的aggregate方法-1.1.3">10.1.3 神奇的 <code>aggregate</code> 方法</a></span></li><li><span><a href="#10.1.4-对分组后的结果重置索引" data-toc-modified-id="10.1.4-对分组后的结果重置索引-1.1.4">10.1.4 对分组后的结果重置索引</a></span></li></ul></li><li><span><a href="#10.2-数据透视表" data-toc-modified-id="10.2-数据透视表-1.2">10.2 数据透视表</a></span></li></ul></li></ul></div>

# 10-数据分组/数组透视表

## 10.1 数组分组

数据分组就是根据一个或多个键（可以是函数、数组或df列名）将数据分成若干组，然后对分组后的数据分别进行汇总计算，并将汇总计算后的结果进行合并，被用作汇总计算的函数称为聚合函数。即先分组汇总再合并计算.

在Python中对数据分组利用的是`groupby()`方法，这个有点类似于sql中的`groupby`，在接下来的几个小节里面，主要介绍groupby()用法。

### 10.1.1 分组键是列名

分组键是列名时直接将某一列或多列的列名传给`groupby()`方法，`groupby()`方法就会按照这一列或多列进行分组.

In [2]:
import pandas as pd
df = pd.read_excel('.\data\Chapter10.xlsx',sheet_name='Sheet1')
df

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
0  59224   A类  一线城市    是     6    20     0
1  55295   B类  三线城市    否    37    27    35
2  46035   A类  二线城市    是     8     1     8
3   2459   C类  一线城市    是     7     8    14
4   2217   B类  三线城市    否     9    12     4
5  22557   A类  二线城市    否    42    20    55

按照一列进行分组：

In [3]:
df.groupby('客户分类')

注意上面返回值：如果只是传入列名，运行`groupby()`方法以后返回的**不是一个DataFrame对象，而是一个DataFrameGroupBy对象**，这个对象里面包含着分组以后的若干组数据，但是没有直接显示出来，需要对这些分组数据进行汇总计算以后才会展示出来.

In [4]:
df.groupby('客户分类').count()

      用户ID  区域  是否省会  7月销量  8月销量  9月销量
客户分类
A类       3   3     3     3     3     3
B类       2   2     2     2     2     2
C类       1   1     1     1     1     1

如果对分组后的结果做一些数值运算，这个时候就只有数据类型是数值（int、float）的列才会参与运算:

In [5]:
df.groupby('客户分类').sum()

        用户ID  7月销量  8月销量  9月销量
客户分类
A类    127816    56    41    63
B类     57512    46    39    39
C类      2459     7     8    14

我们把这种对分组后的数据进行汇总运算的操作称为聚合，使用的函数称为聚合函数，<font color = red>**8.3节讲过的汇总运算函数都可以作为聚合函数对分组后的数据进行聚合**</font>。

__按照多列进行分组__:

上面分组键是某一列，即按照一列进行分组，也可以按照多列进行分组，**只要将多个列名以列表的形式传给`groupby()`即可**，汇总计算方式与按照单列进行分组以后数据运算的方式一致

In [6]:
df.groupby(['客户分类','区域']).count()

           用户ID  是否省会  7月销量  8月销量  9月销量
客户分类 区域
A类   一线城市     1     1     1     1     1
     二线城市     2     2     2     2     2
B类   三线城市     2     2     2     2     2
C类   一线城市     1     1     1     1     1

In [7]:
df.groupby(['客户分类','区域']).sum()

            用户ID  7月销量  8月销量  9月销量
客户分类 区域
A类   一线城市  59224     6    20     0
     二线城市  68592    50    21    63
B类   三线城市  57512    46    39    39
C类   一线城市   2459     7     8    14

有的时候我们不需要对所有列进行计算，<font color = red>**这个时候就可以把想要计算的列（可以是单列，也可以是多列）通过索引的方式取出来**</font>，然后在取出来这列数据的基础上进行汇总计算。
<br>比如我们想看一下A、B、C类客户分别有多少，我们先按照客户分类进行分组，然后把用户ID这一列取出来，在这一列的基础上进行计数汇总计算即可.

In [9]:
df.groupby('客户分类')['用户ID'].count()

客户分类
A类    3
B类    2
C类    1
Name: 用户ID, dtype: int64

### 10.1.2 分组键是Series

**把DataFrame的其中一列取出来就是一个Series**，比如下面的df["客户分类"]就是一个Series。

In [10]:
df['客户分类']

0    A类
1    B类
2    A类
3    C类
4    B类
5    A类
Name: 客户分类, dtype: object

<font color = red>分组键是列名与分组键是Series的唯一区别就是，给`groupby()`方法传入了什么，其他都一样</font>。可以按照一个或多个Series进行分组，分组以后的汇总计算也是完全一样的，也支持对分组以后的某些列进行汇总计算。

按照一个Series进行分组

In [11]:
df.groupby(df['客户分类']).count()

      用户ID  区域  是否省会  7月销量  8月销量  9月销量
客户分类
A类       3   3     3     3     3     3
B类       2   2     2     2     2     2
C类       1   1     1     1     1     1

按照多个Series进行分组

In [13]:
df.groupby([df['客户分类'],df['区域']]).sum()

            用户ID  7月销量  8月销量  9月销量
客户分类 区域
A类   一线城市  59224     6    20     0
     二线城市  68592    50    21    63
B类   三线城市  57512    46    39    39
C类   一线城市   2459     7     8    14

对特定列进行计算

In [14]:
df.groupby(df['客户分类'])['用户ID'].count()

客户分类
A类    3
B类    2
C类    1
Name: 用户ID, dtype: int64

### 10.1.3 神奇的`aggregate`方法

前面用到的聚合函数都是直接在`DataFrameGroupBy`上调用的，这样分组以后所有列做的都是同一种汇总运算，且一次只能使用一种汇总方式。

<font color = red>**`aggregate`的第一个神奇之处在于，一次可以使用多种汇总方式**</font>
<br>比如下面的例子先对分组后的所有列做计数汇总运算，然后对所有列做求和汇总运算。

In [15]:
df

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
0  59224   A类  一线城市    是     6    20     0
1  55295   B类  三线城市    否    37    27    35
2  46035   A类  二线城市    是     8     1     8
3   2459   C类  一线城市    是     7     8    14
4   2217   B类  三线城市    否     9    12     4
5  22557   A类  二线城市    否    42    20    55

In [17]:
df.groupby('客户分类').aggregate(['count','sum'])

      用户ID            区域                是否省会       7月销量      8月销量      9月销量  \
     count     sum count           sum count  sum count sum count sum count
客户分类
A类       3  127816     3  一线城市二线城市二线城市     3  是是否     3  56     3  41     3
B类       2   57512     2      三线城市三线城市     2   否否     2  46     2  39     2
C类       1    2459     1          一线城市     1    是     1   7     1   8     1


     sum
客户分类
A类    63
B类    39
C类    14

<font color = red>**`aggregate`的第二个神奇之处在于，可以针对不同的列做不同的汇总运算**</font>
<br>比如下面的例子，我们想看不同类别的用户有多少，那么对用户ID  进行计数；我们想看不同类别的用户在7、8月的销量，则需要对销量进行求和。

In [18]:
df.groupby('客户分类').aggregate({'用户ID':'count','7月销量':'sum','8月销量':'sum'})

      用户ID  7月销量  8月销量
客户分类
A类       3    56    41
B类       2    46    39
C类       1     7     8

### 10.1.4 对分组后的结果重置索引

**`DataFrameGroupBy` 对象经过汇总运算以后的形式并不是标准的DataFrame形式**。为了接下来对分组结果进行进一步处理与分析，**我们需要把非标准形式转化为标准的DataFrame 形式，利用的方法就是重置索引`reset_index()`方法**，具体实现如下所示。

In [19]:
df.groupby('客户分类').sum()

        用户ID  7月销量  8月销量  9月销量
客户分类
A类    127816    56    41    63
B类     57512    46    39    39
C类      2459     7     8    14

In [20]:
df.groupby('客户分类').sum().reset_index()

  客户分类    用户ID  7月销量  8月销量  9月销量
0   A类  127816    56    41    63
1   B类   57512    46    39    39
2   C类    2459     7     8    14

## 10.2 数据透视表

数据透视表实现的功能与数据分组相类似但又不同，数据分组是在一维（行）方向上不断拆分，而数据透视表是在行、列方向上同时拆分。

下图为数据分组与数据透视表的对比：
![image-20210105091701705](https://i.loli.net/2021/01/05/q9ITw86EhkafLFJ.png)

Pandas中的数据透视表用到的是`pivot_table()`方法。pivot_table()方法的全部参数如下：
```python
pd.pivot_table(data,value = None,index = None,columns = None,aggfunc = 'mean',fill_value = None,margins = False,dropna = True,margins_name = 'All')
```
- data       表示要作数据透视表的整个表
- values     对应Excel中值那个框
- index      对应Excel中行那个框
- columns    对应Excel中列那个框
- aggfunc    表示对values的计算类型
- fill_value 表示对空值的填充值
- margins    表示是否显示合计列
- dropna     表示是否删除缺失，如果为真时，则把一整行全作为缺失值删除
- margins_name 表示合计列的列名

接下来看一些具体实例：客户分类作为`index`，区域作为`columns`，用户ID作为`values`，对values执行count运算，运行结果如下：

In [21]:
pd.pivot_table(df,values = '用户ID',index = '客户分类',columns='区域',aggfunc='count')

区域    一线城市  三线城市  二线城市
客户分类
A类     1.0   NaN   2.0
B类     NaN   2.0   NaN
C类     1.0   NaN   NaN

上面的运行结果和Excel的不同之处就是没有合计列，**Pandas数据透视表中的合计列默认是关闭的，让其等于True就可以显示出来**，示例如
下所示。

In [22]:
pd.pivot_table(df,values = '用户ID',index = '客户分类',columns='区域',aggfunc='count',margins=True)

区域    一线城市  三线城市  二线城市  All
客户分类
A类     1.0   NaN   2.0    3
B类     NaN   2.0   NaN    2
C类     1.0   NaN   NaN    1
All    2.0   2.0   2.0    6

合计列的名称默认为All，可以通过设置参数`margins_name`的值进行修改，示例如下所示:

In [23]:
pd.pivot_table(df,values = '用户ID',index = '客户分类',columns='区域',aggfunc='count',margins=True,margins_name='总计')

区域    一线城市  三线城市  二线城市  总计
客户分类
A类     1.0   NaN   2.0   3
B类     NaN   2.0   NaN   2
C类     1.0   NaN   NaN   1
总计     2.0   2.0   2.0   6

`NaN` 表示缺失值，我们可以通过设置参数 `fill_value` 的值对缺失值进行填充，示例如下所示:

In [24]:
pd.pivot_table(df,values = '用户ID',index = '客户分类',columns='区域',aggfunc='count',margins=True,margins_name='总计',fill_value=0)

区域    一线城市  三线城市  二线城市  总计
客户分类
A类       1     0     2   3
B类       0     2     0   2
C类       1     0     0   1
总计       2     2     2   6

`aggfunc` 用来表示计算类型，当只传入一种类型时，表示对所有的值字段都进行同样的计算；<font color = red>**如果需要对不同的值进行不同的计算类型，则需要传入一个字典，其中键为列名，值为计算方式**</font>。

下面对用户ID进行计数，对7月销量进行求和。

In [25]:
pd.pivot_table(df,values = ['用户ID','7月销量'],index = '客户分类',columns='区域',aggfunc={'用户ID':'count','7月销量':'sum'},
               margins=True,margins_name='总计',
               fill_value=0)

     7月销量                用户ID
区域   一线城市 三线城市 二线城市   总计 一线城市 三线城市 二线城市 总计
客户分类
A类      6    0   50   56    1    0    2  3
B类      0   46    0   46    0    2    0  2
C类      7    0    0    7    1    0    0  1
总计     13   46   50  109    2    2    2  6

为了便于分析与处理，我们一般会对数据透视表的结果重置索引，利用的方法同样是`reset_index()`:

In [26]:
pd.pivot_table(df,values = '用户ID',index = '客户分类',columns='区域',aggfunc='count').reset_index()

区域 客户分类  一线城市  三线城市  二线城市
0    A类   1.0   NaN   2.0
1    B类   NaN   2.0   NaN
2    C类   1.0   NaN   NaN