<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#6--数据选择" data-toc-modified-id="6--数据选择-1">6- 数据选择</a></span><ul class="toc-item"><li><span><a href="#6.1-列选择" data-toc-modified-id="6.1-列选择-1.1">6.1 列选择</a></span><ul class="toc-item"><li><span><a href="#6.1.1-选择某一列/某几列" data-toc-modified-id="6.1.1-选择某一列/某几列-1.1.1">6.1.1 选择某一列 / 某几列</a></span></li><li><span><a href="#6.1.2-选择连续的某几列" data-toc-modified-id="6.1.2-选择连续的某几列-1.1.2">6.1.2 选择连续的某几列</a></span></li></ul></li><li><span><a href="#6.2-行选择" data-toc-modified-id="6.2-行选择-1.2">6.2 行选择</a></span><ul class="toc-item"><li><span><a href="#6.2.1-选择某一行/某几行" data-toc-modified-id="6.2.1-选择某一行/某几行-1.2.1">6.2.1 选择某一行 / 某几行</a></span></li><li><span><a href="#6.2.2-选择连续的某几行" data-toc-modified-id="6.2.2-选择连续的某几行-1.2.2">6.2.2 选择连续的某几行</a></span></li><li><span><a href="#6.2.3-选择满足条件的行" data-toc-modified-id="6.2.3-选择满足条件的行-1.2.3">6.2.3 选择满足条件的行</a></span></li></ul></li><li><span><a href="#6.3-行列同时选择" data-toc-modified-id="6.3-行列同时选择-1.3">6.3 行列同时选择</a></span><ul class="toc-item"><li><span><a href="#6.3.1-普通索引+普通索引选择指定的行和列" data-toc-modified-id="6.3.1-普通索引+普通索引选择指定的行和列-1.3.1">6.3.1 普通索引 + 普通索引选择指定的行和列</a></span></li><li><span><a href="#6.3.2-位置索引+位置索引选择指定的行和列" data-toc-modified-id="6.3.2-位置索引+位置索引选择指定的行和列-1.3.2">6.3.2 位置索引 + 位置索引选择指定的行和列</a></span></li><li><span><a href="#6.3.3-布尔索引+普通索引选择指定的行和列" data-toc-modified-id="6.3.3-布尔索引+普通索引选择指定的行和列-1.3.3">6.3.3 布尔索引 + 普通索引选择指定的行和列</a></span></li><li><span><a href="#6.3.4-切片索引+切片索引选择指定的行和列" data-toc-modified-id="6.3.4-切片索引+切片索引选择指定的行和列-1.3.4">6.3.4 切片索引 + 切片索引选择指定的行和列</a></span></li><li><span><a href="#6.3.5-切片索引+普通索引选择指定的行和列" data-toc-modified-id="6.3.5-切片索引+普通索引选择指定的行和列-1.3.5">6.3.5 切片索引 + 普通索引选择指定的行和列</a></span></li></ul></li></ul></li></ul></div>

# 6- 数据选择

数据分析也是同样的道理，你要分析什么，首先要把对应的数据筛选出来。
<br>常规的数据选择主要有列选择、行选择、行列同时选择三种方式。

## 6.1 列选择

### 6.1.1 选择某一列/某几列

在Python中我们**要想获取某列只需要在表df后面的方括号中指明要选择的列名即可，如果是一列，则只需要传入一个列名，如果是同时选
择多列，则传入多个列名即可，多个列名用一个list存起来**。

In [14]:
import pandas as pd

df = pd.read_excel('data/5.2.xlsx')

In [15]:
df

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张通    101 2018-08-08
1   A2   李谷    102 2018-08-09
2   A3   孙凤    103 2018-08-10
3   A3   孙凤    103 2018-08-10
4   A4   赵恒    104 2018-08-11
5   A5   赵恒    104 2018-08-11

In [16]:
df['订单编号']

0    A1
1    A2
2    A3
3    A3
4    A4
5    A5
Name: 订单编号, dtype: object

In [17]:
df[['订单编号','客户姓名']]

  订单编号 客户姓名
0   A1   张通
1   A2   李谷
2   A3   孙凤
3   A3   孙凤
4   A4   赵恒
5   A5   赵恒

在Python中我们把这种通过传入列名选择数据的方式称为普通索引。

除了传入具体的列名，我们**还可以传入具体列的位置，即第几列，对数据进行选取，通过传入位置来获取数据时需要用到`iloc`方法**

In [18]:
df

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张通    101 2018-08-08
1   A2   李谷    102 2018-08-09
2   A3   孙凤    103 2018-08-10
3   A3   孙凤    103 2018-08-10
4   A4   赵恒    104 2018-08-11
5   A5   赵恒    104 2018-08-11

In [20]:
df.iloc[:,[0,2]]    # 获取第一列和第三列的位置

  订单编号  唯一识别码
0   A1    101
1   A2    102
2   A3    103
3   A3    103
4   A4    104
5   A5    104

`iloc` 后的方括号中逗号之前的部分表示要获取的行的位置，只输入一个冒号，不输入任何数值表示获取所有的行;
<br>逗号之后的方括号表示要获取的列的位置，列的位置同样是也是从0开始计数;

**我们把这种通过传入具体位置来选择数据的方式称为位置索引**。

### 6.1.2 选择连续的某几列

In [21]:
df

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张通    101 2018-08-08
1   A2   李谷    102 2018-08-09
2   A3   孙凤    103 2018-08-10
3   A3   孙凤    103 2018-08-10
4   A4   赵恒    104 2018-08-11
5   A5   赵恒    104 2018-08-11

In [22]:
df.iloc[:,0:3]

  订单编号 客户姓名  唯一识别码
0   A1   张通    101
1   A2   李谷    102
2   A3   孙凤    103
3   A3   孙凤    103
4   A4   赵恒    104
5   A5   赵恒    104

用`iloc`方法，传入这些序列的位置区间即可.

## 6.2 行选择

### 6.2.1 选择某一行/某几行

在Python中，获取行的方式主要有两种，
- 一种是普通索引，即传入**具体行索引的名称**，需要用到`loc`方法；
- 另一种是位置索引，即传入**具体的行数，需要用到`iloc`方法**.

In [26]:
df = df.set_index('订单编号')
df

     客户姓名  唯一识别码       成交时间
订单编号
A1     张通    101 2018-08-08
A2     李谷    102 2018-08-09
A3     孙凤    103 2018-08-10
A3     孙凤    103 2018-08-10
A4     赵恒    104 2018-08-11
A5     赵恒    104 2018-08-11

In [27]:
df.loc['A2']

客户姓名                      李谷
唯一识别码                    102
成交时间     2018-08-09 00:00:00
Name: A2, dtype: object

In [31]:
df = df.reset_index()
df

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张通    101 2018-08-08
1   A2   李谷    102 2018-08-09
2   A3   孙凤    103 2018-08-10
3   A3   孙凤    103 2018-08-10
4   A4   赵恒    104 2018-08-11
5   A5   赵恒    104 2018-08-11

In [34]:
# 选择第一行
df.loc[1]

订单编号                      A2
客户姓名                      李谷
唯一识别码                    102
成交时间     2018-08-09 00:00:00
Name: 1, dtype: object

In [36]:
# 选择第二行和第四行
df.loc[[1,3]]

  订单编号 客户姓名  唯一识别码       成交时间
1   A2   李谷    102 2018-08-09
3   A3   孙凤    103 2018-08-10

In [39]:
# 利用iloc方法选择第一行
df.iloc[0]

订单编号                      A1
客户姓名                      张通
唯一识别码                    101
成交时间     2018-08-08 00:00:00
Name: 0, dtype: object

In [43]:
# 利用iloc方法选择第一行和第二行
df.iloc[0:2]

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张通    101 2018-08-08
1   A2   李谷    102 2018-08-09

In [42]:
df.iloc[[0,1]]

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张通    101 2018-08-08
1   A2   李谷    102 2018-08-09

### 6.2.2 选择连续的某几行

在Python中，选择连续的某几行时，你同样可以把要选择的每一个行索引名字或者行索引的位置输进去。很显然这是没有必要的，**只要把连续行的位置用一个区间表示，然后传给`iloc`即可**

In [44]:
df

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张通    101 2018-08-08
1   A2   李谷    102 2018-08-09
2   A3   孙凤    103 2018-08-10
3   A3   孙凤    103 2018-08-10
4   A4   赵恒    104 2018-08-11
5   A5   赵恒    104 2018-08-11

In [47]:
df.index = ['一','二','三','四','五','六']
df

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09
三   A3   孙凤    103 2018-08-10
四   A3   孙凤    103 2018-08-10
五   A4   赵恒    104 2018-08-11
六   A5   赵恒    104 2018-08-11

In [49]:
df.iloc[0:2]

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09

In [52]:
df.iloc[[0,2]]

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
三   A3   孙凤    103 2018-08-10

### 6.2.3 选择满足条件的行

前两节获取某一列时，获取的是这一列的所有行，**我们还可以只筛选出这一列中满足条件的值**。

在Python中，我们**直接在表名后面指明哪列要满足什么条件，就可以把满足条件的数据筛选出来**。

In [4]:
import pandas as pd
df6 = pd.read_excel('data/Chapter06.xlsx',sheet_name='Sheet5')
df6

  订单编号 客户姓名  唯一识别码   年龄       成交时间  销售ID
0   A1   张通    101   31 2018-08-08     1
1   A2   李谷    102   45 2018-08-09     2
2   A3   孙凤    103   23 2018-08-10     1
3   A4   赵恒    104  240 2018-08-11     2
4   A5   王娜    105   21 2018-08-11     3

In [6]:
df6[df6['年龄']<200]

  订单编号 客户姓名  唯一识别码  年龄       成交时间  销售ID
0   A1   张通    101  31 2018-08-08     1
1   A2   李谷    102  45 2018-08-09     2
2   A3   孙凤    103  23 2018-08-10     1
4   A5   王娜    105  21 2018-08-11     3

我们把上面这种通过传入一个判断条件来选择数据的方式称为布尔索引。

传入的条件还可以是多个，如下为选择的年龄小于200且唯一识别码小于102的数据。

In [8]:
df6[(df6['年龄']<200)&(df6['唯一识别码']<102)]

  订单编号 客户姓名  唯一识别码  年龄       成交时间  销售ID
0   A1   张通    101  31 2018-08-08     1

## 6.3 行列同时选择

上面的数据选择都是针对单一的行或列进行选择，**实际业务中我们也会用到行、列同时选择，所谓的行、列同时选择就是选择出行和列的
相交部分**。

### 6.3.1 普通索引+普通索引选择指定的行和列

普通索引+普通索引就是通过**同时传入行和列的索引名称进行数据选择，需要用到`loc`方法**

In [11]:
# 获取第一行、第三行和第一列、第三列数据
df63 = pd.read_excel('data/Chapter06.xlsx')
df63.index = ['一','二','三','四','五','六']
df63

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09
三   A3   孙凤    103 2018-08-10
四   A3   孙凤    103 2018-08-10
五   A4   赵恒    104 2018-08-11
六   A5   赵恒    104 2018-08-11

In [14]:
# 用loc方法传入行列名称
df63.loc[['一','三'],['订单编号','唯一识别码']]

  订单编号  唯一识别码
一   A1    101
三   A3    103

`loc`方法中的第一对方括号表示行索引的选择，传入行索引名称；
<br>`loc`方法中的第二对方括号表示列索引的选择，传入列索引名称。

### 6.3.2 位置索引+位置索引选择指定的行和列

位置索引+位置索引是通过同时传入行、列索引的位置来获取数据，需要用到`iloc`方法。

In [15]:
df63

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09
三   A3   孙凤    103 2018-08-10
四   A3   孙凤    103 2018-08-10
五   A4   赵恒    104 2018-08-11
六   A5   赵恒    104 2018-08-11

In [16]:
# 用iloc方法获取第一行，第三行和第一列、第三列的数据
df63.iloc[[0,1],[0,2]]

  订单编号  唯一识别码
一   A1    101
二   A2    102

```diff
+ 在`iloc`方法中的第一对方括号表示行索引的选择，传入要选择行索引的位置；
+ <br>第二对方括号表示列索引的选择，传入要选择列索引的位置。
```
**行和列索引的位置都是从0开始计数**。

### 6.3.3 布尔索引+普通索引选择指定的行和列

布尔索引+普通索引是先对表进行布尔索引选择行，然后通过普通索引选择列。

In [21]:
df6

  订单编号 客户姓名  唯一识别码   年龄       成交时间  销售ID
0   A1   张通    101   31 2018-08-08     1
1   A2   李谷    102   45 2018-08-09     2
2   A3   孙凤    103   23 2018-08-10     1
3   A4   赵恒    104  240 2018-08-11     2
4   A5   王娜    105   21 2018-08-11     3

In [22]:
df6[df6['年龄']<200][['订单编号','年龄']]

  订单编号  年龄
0   A1  31
1   A2  45
2   A3  23
4   A5  21

In [25]:
df6[['订单编号','年龄']]

  订单编号   年龄
0   A1   31
1   A2   45
2   A3   23
3   A4  240
4   A5   21

上面的代码表示选择年龄小于200的订单编号和年龄，先通过布尔索引选择出年龄小于200的所有行，然后通过普通索引选择订单编号和年龄这两列。

### 6.3.4 切片索引+切片索引选择指定的行和列

切片索引+切片索引是通过同时传入行、列索引的位置区间进行数据选择。

In [27]:
df63

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09
三   A3   孙凤    103 2018-08-10
四   A3   孙凤    103 2018-08-10
五   A4   赵恒    104 2018-08-11
六   A5   赵恒    104 2018-08-11

In [30]:
# 选择第一行到第三行，第二列到第三列
df63.iloc[0:3,1:3]

  客户姓名  唯一识别码
一   张通    101
二   李谷    102
三   孙凤    103

### 6.3.5 切片索引+普通索引选择指定的行和列

前面我们说过:
- 如果是普通索引，就直接传入行或列名，用`loc`方法即可；
- 如果是切片索引，也就是传入行或列的位置区间，要用 `iloc` 方法。
- 如果是切片索引+普通索引，也就是行（列）用切片索引，列（行）用普通索引，这种交叉索引要用`ix`方法

In [31]:
df63

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09
三   A3   孙凤    103 2018-08-10
四   A3   孙凤    103 2018-08-10
五   A4   赵恒    104 2018-08-11
六   A5   赵恒    104 2018-08-11

In [32]:
df63.ix[0:2,['客户姓名','唯一识别码']]

c:\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\python36\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

  客户姓名  唯一识别码
一   张通    101
二   李谷    102