<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#9-时间序列" data-toc-modified-id="9-时间序列-1">9-时间序列</a></span><ul class="toc-item"><li><span><a href="#9.1-获取当前时刻的时间" data-toc-modified-id="9.1-获取当前时刻的时间-1.1">9.1 获取当前时刻的时间</a></span><ul class="toc-item"><li><span><a href="#9.1.1-返回当前时刻的日期和时间" data-toc-modified-id="9.1.1-返回当前时刻的日期和时间-1.1.1">9.1.1 返回当前时刻的日期和时间</a></span></li><li><span><a href="#9.1.2-分别返回当前时刻的年、月、日" data-toc-modified-id="9.1.2-分别返回当前时刻的年、月、日-1.1.2">9.1.2 分别返回当前时刻的年、月、日</a></span></li><li><span><a href="#9.1.3-返回当前时刻的周数" data-toc-modified-id="9.1.3-返回当前时刻的周数-1.1.3">9.1.3 返回当前时刻的周数</a></span></li></ul></li><li><span><a href="#9.2-指定日期和时间的格式" data-toc-modified-id="9.2-指定日期和时间的格式-1.2">9.2 指定日期和时间的格式</a></span></li><li><span><a href="#9.3-字符串和时间格式相互转换" data-toc-modified-id="9.3-字符串和时间格式相互转换-1.3">9.3 字符串和时间格式相互转换</a></span><ul class="toc-item"><li><span><a href="#9.3.1-将时间格式转换为字符串格式" data-toc-modified-id="9.3.1-将时间格式转换为字符串格式-1.3.1">9.3.1 将时间格式转换为字符串格式</a></span></li><li><span><a href="#9.3.2-将字符串格式转换为时间格式" data-toc-modified-id="9.3.2-将字符串格式转换为时间格式-1.3.2">9.3.2 将字符串格式转换为时间格式</a></span></li></ul></li><li><span><a href="#9.4-时间索引" data-toc-modified-id="9.4-时间索引-1.4">9.4 时间索引</a></span></li><li><span><a href="#9.5-时间运算" data-toc-modified-id="9.5-时间运算-1.5">9.5 时间运算</a></span><ul class="toc-item"><li><span><a href="#9.5.1-两个时间之差" data-toc-modified-id="9.5.1-两个时间之差-1.5.1">9.5.1 两个时间之差</a></span></li><li><span><a href="#9.5.2-时间偏移" data-toc-modified-id="9.5.2-时间偏移-1.5.2">9.5.2 时间偏移</a></span></li></ul></li></ul></li></ul></div>

# 9-时间序列

## 9.1 获取当前时刻的时间

### 9.1.1 返回当前时刻的日期和时间

在Python中当前时刻的日期和时间，使用如下代码：

In [1]:
from datetime import datetime
datetime.now()

datetime.datetime(2020, 12, 17, 16, 28, 56, 612173)

### 9.1.2 分别返回当前时刻的年、月、日

In [2]:
datetime.now().year

2020

In [3]:
datetime.now().month

12

In [4]:
datetime.now().day

17

### 9.1.3 返回当前时刻的周数

**返回周几**

返回当前时刻是周几在Excel和Python中都借助`weekday()`函数实现。

在Python中使用如下代码：

In [9]:
datetime.now().weekday()+1

4

**Python中周几是从0开始数的，周日返回的是6，所以在后面加1**。

**返回周数**

**返回当前时刻所在周的周数在Excel中使用的是`weeknum()`函数，在Python中使用的是`isocalendar()`函数**

In [11]:
datetime.now().isocalendar()

(2020, 51, 4)

`(2020, 51, 4)`表示2020年的第51周的第4天

如果取周数，使用如下代码：

In [12]:
datetime.now().isocalendar()[1]

51

## 9.2 指定日期和时间的格式

借助`date()`函数将日期和时间设置成只展示日期

In [13]:
datetime.now().date()

datetime.date(2020, 12, 17)

借助`time()`函数将日期和时间设置成只展示时间

In [14]:
datetime.now().time()

datetime.time(16, 45, 2, 75796)

**借助`strftime()`函数可以自定义时间和日期的格式，`strftime()`函数是将日期和时间的格式转化为某些自定义的格式**,具体的格式有以下几种
```text
strftime指令            含义
_____________________________________________________________
%Y                     带世纪的年份，例如'2014'
%y                     不带世纪的年份，'00'至'99'（1970 至 2069）
%m                     数字表示的月份, '01'至'12'
%d                     一月中的第几天，'01'至'31'
%j                     一年中的第几天，'001'至'366'
%w                     一周中的第几天，'0'（周日）至'6'（周六）
%U                     每年的第几周，周日被认为是每周的第一天
%W                     每年的第几周，周一被认为是每周的第一天
%F                     %Y-%m-%d的简写形式，如2020-12-17
%D                     %m%d%y的简写形式，例如12/12/2020
%H                    小时（24 小时时钟），'00'至'23'
%I                    小时（12 小时时钟），'01'至'12'
%M                    分，'00'至'59'
%S                    秒，'00'至'59'
%%                    就是'%'字符
_________________________________________________________________
```

用`strftime()`函数自定义时间和日期的格式的例子如下所示:

In [16]:
datetime.now().strftime('%Y-%m-%d')

'2020-12-17'

## 9.3 字符串和时间格式相互转换

字符串和时间格式的相互转换主要用于Python中。

### 9.3.1 将时间格式转换为字符串格式

**使用`str()`函数将时间格式转换为字符串格式**，示例如下：

In [17]:
now = datetime.now()
now

datetime.datetime(2020, 12, 17, 17, 1, 44, 296138)

In [19]:
type(now)

datetime.datetime

In [18]:
str(now)

'2020-12-17 17:01:44.296138'

In [20]:
type(str(now))

str

### 9.3.2 将字符串格式转换为时间格式

**使用parse()函数将字符串格式转换为时间格式**

In [21]:
str_time = '2020-12-17'
type(str_time)

str

In [26]:
from dateutil.parser import parse
parse(str_time)                  # 将字符串解析为时间

datetime.datetime(2020, 12, 17, 0, 0)

In [25]:
type(parse(str_time))

datetime.datetime

## 9.4 时间索引

**时间索引就是根据时间来对时间格式的字段进行数据选取的一种索引方式**。

在Python中，可以选取具体的某一时间对应的值，也可以选取某一段时间内的值。

新建一个时间索引的DataFrame如下：

In [29]:
import numpy as np
import pandas as pd
index = pd.DatetimeIndex(['2018-01-01','2018-01-02','2018-01-03','2018-01-04','2018-01-05','2018-01-06','2018-01-07',
                          '2018-01-08','2018-01-09','2018-01-10'
])

data = pd.DataFrame(np.arange(1,11),columns=['num'],index=index)
data

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

获取2018年的数据

In [30]:
data['2018']

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

获取2018年1月的数据：

In [31]:
data['2018-01']

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

获取2018年1月1日到2018年1月5日的数据：

In [32]:
data['2018-01-01':'2018-01-05']

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5

获取2018年1月1日的数据：

In [33]:
data['2018-01-01':'2018-01-01']

            num
2018-01-01    1

**上面的索引方法适用于索引是时间的情况下**

但是并不是在所有情况下，时间都可以做索引，比如一个订单表中客户姓名是索引，**成交时间就是一个普通列**，这个时候你想选取某一段时间内的成交订单该怎么办呢？

因为时间也是有大小关系的，所以我们可以利用前面学过的索引方式中的布尔索引来对非索引列的时间进行选取，代码如下：

In [1]:
import pandas as pd
df = pd.read_excel('data/Chapter09.xlsx',index_col=0)
df

     客户姓名  唯一识别码  年龄       成交时间
订单编号
A1     张通    101  31 2018-08-08
A2     李谷    102  45 2018-08-09
A3     孙凤    103  23 2018-08-10
A4     赵恒    104  36 2018-08-11
A5     王娜    105  21 2018-08-11

In [9]:
# 选取成交时间为2018年8月8日的订单
from datetime import datetime
df[df['成交时间']==datetime(2018,8,8)]

     客户姓名  唯一识别码  年龄       成交时间
订单编号
A1     张通    101  31 2018-08-08

In [12]:
# 选取成交时间在2018年8月9日之后的订单
df[df['成交时间']>datetime(2018,8,9)]

     客户姓名  唯一识别码  年龄       成交时间
订单编号
A3     孙凤    103  23 2018-08-10
A4     赵恒    104  36 2018-08-11
A5     王娜    105  21 2018-08-11

In [14]:
# 选取成交时间在2018年8月10日之前的订单
df[df['成交时间']<datetime(2018,8,10)]

     客户姓名  唯一识别码  年龄       成交时间
订单编号
A1     张通    101  31 2018-08-08
A2     李谷    102  45 2018-08-09

In [16]:
# 选取成交时间在2018年8月8日到2018年8月11日之间的订单
df[(df['成交时间']>datetime(2018,8,8)) & (df['成交时间']<datetime(2018,8,11))]

     客户姓名  唯一识别码  年龄       成交时间
订单编号
A2     李谷    102  45 2018-08-09
A3     孙凤    103  23 2018-08-10

## 9.5 时间运算

### 9.5.1 两个时间之差

**在日常业务中经常会用到计算两个时间的差**，比如要计算一个用户在某平台上的生命周期，则用用户最后一次登录产品的时间减去用户首
次登录产品的时间即可得到。

在Python中**两个时间做差会返回一个`timedelta`对象，该对象中包含天数、秒、微秒三个等级**，如果要获取小时、分钟，则需要进行换算。

In [18]:
cha = datetime(2018,5,21,19,50) - datetime(2018,5,18,20,32)

cha

datetime.timedelta(days=2, seconds=83880)

In [20]:
cha.days

2

In [21]:
cha.seconds/3600  #换算为小时

23.3

### 9.5.2 时间偏移

时间偏移是指给时间往前推或往后推一段时间，即加或减一段时间。

**由于Excel中的运算单位都是天**，因此若想对某一个时间具体加/减某一单位的时间，**如果是加/减小时或者分钟，则需要把小时或分钟换算成对应的天**

在Python中实现时间偏移的方式有两种：
- 第一种是借助timedelta，但是它只能偏移天、秒、微秒单位的时间；
- 第二种是用Pandas中的日期偏移量（`date offset`）

**`timedelta`**

**由于`timedelta`只支持天、秒、微秒单位的时间运算，如果是其他单位的时间运算，则需要换算成以上三种单位中的一种方可进行偏移**。

In [22]:
from datetime import timedelta
date = datetime(2018,5,18,20,32)
date

datetime.datetime(2018, 5, 18, 20, 32)

In [25]:
# 往后推一天
date + timedelta(days = 1)

datetime.datetime(2018, 5, 19, 20, 32)

In [26]:
# 往后推60秒
date + timedelta(seconds = 60)

datetime.datetime(2018, 5, 18, 20, 33)

In [33]:
# 往前推一天
date - timedelta(days = 1)

datetime.datetime(2018, 5, 17, 20, 32)

In [32]:
# 往前推60秒
date - timedelta(seconds=60)

datetime.datetime(2018, 5, 18, 20, 31)

**`date offset`**

`date offset` 可以直接实现天、小时、分钟单位的时间偏移，不需要换算，相比`timedelta`要方便一些。

In [36]:
import pandas as pd
from pandas.tseries.offsets import Day,Hour,Minute

# 往后推1天
date + Day(1)

Timestamp('2018-05-19 20:32:00')

In [37]:
# 往后推1小时
date + Hour(1)

Timestamp('2018-05-18 21:32:00')

In [38]:
# 往后推10分钟
date + Minute(10)

Timestamp('2018-05-18 20:42:00')

In [39]:
# 往前推1天
date - Day(1)

Timestamp('2018-05-17 20:32:00')

In [40]:
# 往前推1小时
date - Hour(1)

Timestamp('2018-05-18 19:32:00')

In [41]:
# 往前推10分钟
date - Minute(10)

Timestamp('2018-05-18 20:22:00')