<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#3---pandas数据结构" data-toc-modified-id="3---pandas数据结构-1">3 - pandas 数据结构</a></span><ul class="toc-item"><li><span><a href="#3.1-Series数据结构" data-toc-modified-id="3.1-Series数据结构-1.1">3.1 Series 数据结构</a></span><ul class="toc-item"><li><span><a href="#3.1.1-Series是什么" data-toc-modified-id="3.1.1-Series是什么-1.1.1">3.1.1 Series 是什么</a></span></li><li><span><a href="#3.1.2-创建Series" data-toc-modified-id="3.1.2-创建Series-1.1.2">3.1.2 创建 Series</a></span></li><li><span><a href="#3.1.3-利用index属性获取Series的索引" data-toc-modified-id="3.1.3-利用index属性获取Series的索引-1.1.3">3.1.3 利用 <code>index</code> 属性获取 <code>Series</code> 的索引</a></span></li><li><span><a href="#3.1.4-利用values方法获取Series的值" data-toc-modified-id="3.1.4-利用values方法获取Series的值-1.1.4">3.1.4 利用 values 方法获取 Series 的值</a></span></li></ul></li><li><span><a href="#3.2-DataFrame-表格型数据结构" data-toc-modified-id="3.2-DataFrame-表格型数据结构-1.2">3.2 <code>DataFrame</code> 表格型数据结构</a></span><ul class="toc-item"><li><span><a href="#3.2.1-DataFrame是什么" data-toc-modified-id="3.2.1-DataFrame是什么-1.2.1">3.2.1 DataFrame 是什么</a></span></li><li><span><a href="#3.2.2-创建一个DataFrame" data-toc-modified-id="3.2.2-创建一个DataFrame-1.2.2">3.2.2 创建一个 <code>DataFrame</code></a></span></li><li><span><a href="#3.2.3-获取DataFrame的行、列索引" data-toc-modified-id="3.2.3-获取DataFrame的行、列索引-1.2.3">3.2.3 获取 DataFrame 的行、列索引</a></span></li><li><span><a href="#3.2.4-获取DataFrame的值" data-toc-modified-id="3.2.4-获取DataFrame的值-1.2.4">3.2.4 获取 DataFrame 的值</a></span></li></ul></li></ul></li></ul></div>

# 3 - pandas数据结构

首先先导入`Pandas`，`Numpy`，`matplotlib`这几个模块，为了书写方便，可以用`as`给模块起别名.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 3.1 Series数据结构

### 3.1.1 Series是什么

Series是一种类似于一维数组的对象，由一组数据和一组与之相关的数据标签（索引）组成,数据结构如下：
```text
0    A
1    B
2    C
3    D
4    E
```
其中'1,2,3,4'即是数据标签，第二列是数据，数据标签与数据是一一对应的.

### 3.1.2 创建Series

用`pd.Series()`方法来创建Series对象，通过给`Series()`方法传入不同的对象即可实现。传入的对象可以是列表或字典。
- 传入一个列表

In [4]:
pd.Series(['a','b','c','d'])

0    a
1    b
2    c
3    d
dtype: object

**如果只是传入一个列表不指定数据标签,那么`Series`会默认使用从0开始的数做数据标签**.上面的0、1、2、3就是默认的数据标签

指定索引
<br>直接传入一个列表会使用默认索引，也可以**通过设置index参数来自定义索引**。

In [5]:
pd.Series(['a', 'b', 'c', 'd'], index=[1, 2, 3, 4])

1    a
2    b
3    c
4    d
dtype: object

- 传入一个字典<br>
也可以将数据标签与数据以`key:value`（字典）的形式传入，这样**字典的key值就是数据标签，value就是数据值**

In [6]:
S1 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4})
S1

a    1
b    2
c    3
d    4
dtype: int64

### 3.1.3 利用`index`属性获取`Series`的索引

In [9]:
S1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

### 3.1.4 利用values方法获取Series的值

与索引值对应的就是获取`Series`的值，使用的方法是`values`属性

In [11]:
S1.values

array([1, 2, 3, 4], dtype=int64)

## 3.2 `DataFrame` 表格型数据结构

### 3.2.1 DataFrame是什么

`Series`是由一组数据与一组索引（行索引）组成的数据结构，而**`DataFrame`是由一组数据与一对索引（行索引和列索引）**组成的表格型数据结构。

之所以叫表格型数据结构，是因为`DataFrame`的数据形式和Excel的数据存储形式很相近，接下来的章节主要围绕DataFrame这种表格型数据结构展开。
<br>下面就是一个简单的`DataFrame`数据结构:
```text
           技能
第一        Excel
第二        SQL
第三        Python
第四        PPT
```
上面这种数据结构和Excel的数据结构很像，**既有行索引又有列索引，由行索引和列索引确定唯一值**。

### 3.2.2 创建一个`DataFrame`

创建`DataFrame`使用的方法是`pd.DataFrame()`，通过给`DataFrame()`方法传入不同的对象即可实现。对象可以列表、嵌套列表、字典。

- 传入一个列表

In [12]:
df1 = pd.DataFrame(['a','b','c','d'])
df1

   0
0  a
1  b
2  c
3  d

只传入一个单一列表时，该列表的值会显示成一列，且行和列都是从0开始的默认索引

- 传入一个嵌套列表

In [14]:
df2 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']])
df2

   0  1
0  a  A
1  b  B
2  c  C
3  d  D

当传入一个嵌套列表时，会根据嵌套列表数显示成多列数据，行、列索引同样是从0开始的默认索引。**列表里面嵌套的列表也可以换成元组**。

**指定行、列索引**

如果只给`DataFrame()`方法传入列表，`DataFrame()`方法的行、列索引都是默认值，则**可以通过设置`columns`参数自定义列索引，设置`index`
参数自定义行索引**。

In [17]:
# 设置列索引
df3 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']],columns=['小写','大写'])
df3

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [19]:
# 同时设置行、列索引
df4 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']],index=['一','二','三','四'],columns=['小写','大写'])
df4

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

- 传入一个字典

In [20]:
data = {'小写':['a','b','c','d'],'大写':['A','B','C','D']}
df5 = pd.DataFrame(data)
df5

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

直接以字典的形式传入DataFrame时，**字典的key值就相当于列索引**，这个时候如果没有设置行索引，行索引还是使用从0开始的默认索
引，**同样可以使用index参数自定义行索引**

In [29]:
data = {'小写':['a','b','c','d'],'大写':['A','B','C','D']}
df32 = pd.DataFrame(data,index = ['一','二','三','四'])
df32

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

### 3.2.3 获取DataFrame的行、列索引

`columns`属性获取DataFrame的列索引，`index`属性获取DataFrame的行索引

In [30]:
df32.columns

Index(['小写', '大写'], dtype='object')

In [31]:
df32.index

Index(['一', '二', '三', '四'], dtype='object')

### 3.2.4 获取DataFrame的值

获取`DataFrame`的值就是获取`DataFrame`中的某些行或列，有关行、列的选择在第6章会有详细讲解。