<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#4--获取数据源" data-toc-modified-id="4--获取数据源-1">4- 获取数据源</a></span><ul class="toc-item"><li><span><a href="#4.1-导入外部数据" data-toc-modified-id="4.1-导入外部数据-1.1">4.1 导入外部数据</a></span><ul class="toc-item"><li><span><a href="#4.1.1-导入.xlsx文件" data-toc-modified-id="4.1.1-导入.xlsx文件-1.1.1">4.1.1 导入.xlsx 文件</a></span><ul class="toc-item"><li><span><a href="#--基本导入" data-toc-modified-id="--基本导入-1.1.1.1">- 基本导入<br></a></span></li><li><span><a href="#--指定导入哪个Sheet" data-toc-modified-id="--指定导入哪个Sheet-1.1.1.2">- 指定导入哪个 Sheet</a></span></li><li><span><a href="#--指定行索引" data-toc-modified-id="--指定行索引-1.1.1.3">- 指定行索引</a></span></li><li><span><a href="#--指定列索引" data-toc-modified-id="--指定列索引-1.1.1.4">- 指定列索引</a></span></li><li><span><a href="#--指定导入列" data-toc-modified-id="--指定导入列-1.1.1.5">- 指定导入列</a></span></li><li><span><a href="#指定导入行" data-toc-modified-id="指定导入行-1.1.1.6">指定导入行</a></span></li></ul></li><li><span><a href="#4.1.2-导入.csv文件" data-toc-modified-id="4.1.2-导入.csv文件-1.1.2">4.1.2 导入.csv 文件</a></span><ul class="toc-item"><li><span><a href="#直接导入" data-toc-modified-id="直接导入-1.1.2.1">直接导入</a></span></li><li><span><a href="#指明分隔符号" data-toc-modified-id="指明分隔符号-1.1.2.2">指明分隔符号</a></span></li><li><span><a href="#指明读取行数" data-toc-modified-id="指明读取行数-1.1.2.3">指明读取行数</a></span></li><li><span><a href="#指定编码格式" data-toc-modified-id="指定编码格式-1.1.2.4">指定编码格式</a></span></li><li><span><a href="#engine指定" data-toc-modified-id="engine指定-1.1.2.5">engine 指定</a></span></li><li><span><a href="#其他" data-toc-modified-id="其他-1.1.2.6">其他</a></span></li></ul></li><li><span><a href="#4.1.3-导入.txt文件" data-toc-modified-id="4.1.3-导入.txt文件-1.1.3">4.1.3 导入.txt 文件</a></span></li><li><span><a href="#4.1.4-导入sql文" data-toc-modified-id="4.1.4-导入sql文-1.1.4">4.1.4 导入 sql 文</a></span></li></ul></li><li><span><a href="#4.2-新建数据" data-toc-modified-id="4.2-新建数据-1.2">4.2 新建数据</a></span></li><li><span><a href="#4.3-熟悉数据" data-toc-modified-id="4.3-熟悉数据-1.3">4.3 熟悉数据</a></span><ul class="toc-item"><li><span><a href="#4.3.1-利用head预览前几行" data-toc-modified-id="4.3.1-利用head预览前几行-1.3.1">4.3.1 利用 head 预览前几行</a></span></li><li><span><a href="#4.3.2-利用shape获取数据表的大小" data-toc-modified-id="4.3.2-利用shape获取数据表的大小-1.3.2">4.3.2 利用 shape 获取数据表的大小</a></span></li><li><span><a href="#4.3.3-利用info获取数据类型" data-toc-modified-id="4.3.3-利用info获取数据类型-1.3.3">4.3.3 利用 info 获取数据类型</a></span></li><li><span><a href="#4.3.4-利用describe获取数值分布情况" data-toc-modified-id="4.3.4-利用describe获取数值分布情况-1.3.4">4.3.4 利用 describe 获取数值分布情况</a></span></li></ul></li></ul></li></ul></div>

# 4- 获取数据源

## 4.1 导入外部数据

导入数据主要用到的是Pandas里的`read_x()`方法，`x`表示待导入文件的格式,如csv、tx、xlsxt等;

### 4.1.1 导入.xlsx文件

在 Excel 中导入.xlsx 格式的文件很简单，双击打开即可。在 Python中导入`.xlsx`文件的方法是`read_excel()`

#### - 基本导入<br>
在导入文件时首先要指定文件路径，也就是这个文件在电脑中的哪个文件夹下存着

In [5]:
import pandas as pd
df = pd.read_excel(r'data\test.xlsx')
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  51  女 2018-08-12
5  A6  26  男 2018-08-13

#### - 指定导入哪个Sheet
<br>`.xlsx`格式的文件可以有多个Sheet，你可以通过设定`sheet_name`参数来指定要导入哪个Sheet的文件。
<br>**如果不指定`sheet_name`参数时，那么默认导入的都是第一个Sheet的文件**。

In [6]:
df = pd.read_excel(r'data\test.xlsx',sheet_name='Sheet1')
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  51  女 2018-08-12
5  A6  26  男 2018-08-13

除了可以指定具体Sheet的名字，还可以传入Sheet的顺序，从0开始计数

In [7]:
df = pd.read_excel('data/test.xlsx',sheet_name=0)
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  51  女 2018-08-12
5  A6  26  男 2018-08-13

#### - 指定行索引
<br>将本地文件导入DataFrame时，**行索引使用的从0开始的默认索引，可以通过设置`index_col`参数来设置**

In [8]:
df = pd.read_excel('data/test.xlsx',index_col=0)
df

    年龄 性别       注册时间
编号
A1  54  男 2018-08-08
A2  16  女 2018-08-09
A3  47  女 2018-08-10
A4  41  男 2018-08-11
A5  51  女 2018-08-12
A6  26  男 2018-08-13

**`index_col`表示用`.xlsx`文件中的第几列做行索引，从0开始计数**

#### - 指定列索引

将本地文件导入`DataFrame`时，**默认使用源数据表的第一行作为列索引，也可以通过设置`header`参数来设置列索引。header参数值默认为0，即用第一行作为列索引**
<br>也可以是其他行，只需要传入具体的那一行即可；也可以使用默认从0开始的数作为列索引。

In [9]:
# 使用第一行作为列索引
df = pd.read_excel('data/test.xlsx',index_col=0,header=0)  # header = 0或省略，表示使用第一行作为列索引
df

    年龄 性别       注册时间
编号
A1  54  男 2018-08-08
A2  16  女 2018-08-09
A3  47  女 2018-08-10
A4  41  男 2018-08-11
A5  51  女 2018-08-12
A6  26  男 2018-08-13

In [10]:
# 使用第二行作为列索引
df = pd.read_excel('data/test.xlsx',index_col=0,header=1)
df

    54  男 2018-08-08 00:00:00
A1
A2  16  女          2018-08-09
A3  47  女          2018-08-10
A4  41  男          2018-08-11
A5  51  女          2018-08-12
A6  26  男          2018-08-13

In [11]:
# 使用默认从0开始的数作为列索引
df = pd.read_excel('data/test.xlsx',index_col=0,header=None)
df

     1   2                    3
0
编号  年龄  性别                 注册时间
A1  54   男  2018-08-08 00:00:00
A2  16   女  2018-08-09 00:00:00
A3  47   女  2018-08-10 00:00:00
A4  41   男  2018-08-11 00:00:00
A5  51   女  2018-08-12 00:00:00
A6  26   男  2018-08-13 00:00:00

#### - 指定导入列

有的时候本地文件的列数太多，而我们又不需要那么多列时，我们就**可以通过设定`usecols`参数来指定要导入的列**

In [18]:
df = pd.read_excel('data/test.xlsx',usecols=[0])
df

   编号
0  A1
1  A2
2  A3
3  A4
4  A5
5  A6

`usecols`最后以列表的形式传入，从0开始计数，表示导入几列，也可以传入多个值：

In [19]:
df = pd.read_excel('data/test.xlsx',usecols=[0,2])
df

   编号 性别
0  A1  男
1  A2  女
2  A3  女
3  A4  男
4  A5  女
5  A6  男

#### 指定导入行

通过`nrow`参数可以导入的行数

In [13]:
df = pd.read_excel('data/test.xlsx',usecols=[0,2],nrows=2)
df

   编号 性别
0  A1  男
1  A2  女

### 4.1.2 导入.csv文件

在 Excel 中导入.csv 格式的文件和打开.xlsx 格式的文件一样，双击即可。而在Python中导入`.csv`文件用的方法是`read_csv()`

#### 直接导入

只需要指明文件路径即可

In [25]:
df = pd.read_csv('data/test.csv',)
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12
5  A6  26  男  2018/8/13

#### 指明分隔符号

在Excel和`DataFrame`中的数据都是很规整的排列的，这都是工具在后台根据某条规则进行切分的。
<br>**`read_csv()`默认文件中的数据都是以逗号分开的，但是有的文件不是用逗号分开的**，这个时候就需要人为指定分隔符号(`sep`参数)，否则就会报错。

新建一个以空格作为分隔符号的文件`test1.csv`,如果用默认的逗号作为分隔符，导入的数据如下：

In [1]:
import pandas as pd
df = pd.read_csv('data/test1.csv')
df

       编号 年龄 性别 注册时间
0   A1 54 男 2018/8/8
1   A2 16 女 2018/8/9
2  A3 47 女 2018/8/10
3  A4 41 男 2018/8/11
4  A5 51 女 2018/8/12
5  A6 26 男 2018/8/13

可以看到，这样导入的数据还是一个整体，并没有分隔开，然后把分隔符号换成空格：

In [2]:
df = pd.read_csv('data/test1.csv',sep = ' ')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12
5  A6  26  男  2018/8/13

使用正确的分隔符号以后，数据被规整地分好了。**常见的分隔符号除了逗号、空格，还有制表符（\t）**

#### 指明读取行数

假设现在有一个几百兆的文件，你想了解一下这个文件里有哪些数据，那么这个时候你就没必要把全部数据都导入，**你只要看到前面几行
即可，因此只要设置 `nrows`参数即可**

In [4]:
df = pd.read_csv('data/test1.csv',sep=' ',nrows=2)
df

   编号  年龄 性别      注册时间
0  A1  54  男  2018/8/8
1  A2  16  女  2018/8/9

#### 指定编码格式

**Python用得比较多的两种编码格式是`UTF-8`和`gbk`，默认编码格式是`UTF-8`**。

我们要根据导入文件本身的编码格式进行设置，**通过设置参数`encoding`来设置导入的编码格式**。

有的时候两个文件看起来一样，它们的文件名一样，格式也一样，但如果它们的编码格式不一样，也是不一样的文件，比如当你把一个Excel文件另存为时会出现两个选项('CSV UTF-8(逗号分隔)'和`CSV(逗号分隔)`)虽然都是.csv文件，但是这两种格式代表两种不同的文件

如果是**CSV  UTF-8(逗号分隔)(*.csv)**格式的文件，那么导入时就需要加encoding参数，不加也行，因为ython默认就的编码格式就是UTF-8。

In [5]:
df = pd.read_csv('data/test.csv')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12
5  A6  26  男  2018/8/13

In [6]:
df = pd.read_csv('data/test.csv',encoding='utf-8')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12
5  A6  26  男  2018/8/13

**如果是`CSV(逗号分隔) (*.csv)`格式的文件，那么在导入的时候就需要把编码格式更改为gbk，如果使用UTF-8就会报错**

In [8]:
df = pd.read_csv('data/test2.csv',encoding='gbk')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12
5  A6  26  男  2018/8/13

这里如果使用`utf-8`的编码就会报错

In [9]:
df = pd.read_csv('data/test2.csv',encoding='utf-8')
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

#### engine指定

使用的分析引擎，**当文件路径或者文件名中包含中文时**，如果还用上面的导入方式就会报错。

In [14]:
df1 = pd.read_csv('data/新建文件夹/test.csv',engine='c')
df1

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12
5  A6  26  男  2018/8/13

#### 其他

`.csv` 文件也涉及行、列索引设置及指定导入某列或某几列，设定方法与导入`.xlsx`文件一致

### 4.1.3 导入.txt文件

在Excel中导入.txt文件时，我们需要通过依次单击菜单栏中的`数据>获取外部数据>自文本`，然后选择要导入的.txt文件所在的路径

**在Python中导入`.txt`文件用的方法是`read_table()`,`read_table()`是将利用分隔符分开的文件导入DataFrame的通用函数**。
<br>**它不仅可以导入`.txt`文件，还可以导入`.csv`文件**。

In [16]:
df = pd.read_table('data/test1.txt',sep = ' ')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12
5  A6  26  男  2018/8/13

函数在导入`.csv`文件时，与`read_csv()`函数不同的是，即使是逗号分隔的文件也需要用`sep`指明分隔符号，而不像`read_csv()`函数那样，如果文件是逗号分隔，则可以不写。

**`read_table()`函数其他参数的用法与`read_csv()`函数的基本一致**

### 4.1.4 导入sql文

Excel 可以直接连接数据库，通过依次单击菜单栏中的`数据>自其他来源`导入 sql文件。如果你的数据库是SQL Server，那么直接选择来自
SQL Server即可；如果是MySQL 数据库，那么你需要选择来自数据连接向导，然后通过建立数据向导来与MySQL连接

**Python导入sql文件主要分为两步，第一步将Python与数据库进行连接，第二步是利用Python执行sql查询语句**。

将Python与数据库连接时利用的是`pymysql`模块,`pymysql`不是标准库，需要单独进行安装，通过`pip`进行安装
```python
pip install pymysql
```
安装完成后，使用`import`导入即可使用,连接数据库的方法如下：
```python
import pymysql

# 创建连接
eng = pymysql.connect(host = 'localhost',
                     user = 'user',
                     password = 'passwd',
                     db = 'db'
                     charset = 'utf8')
```
连接好数据库以后，就可以执行sql查询语句，利用的是`read_sql()`方法
```
pd.read_sql(sql,con)
```
参数sql是查询语句，con就是eng,是上面创建的数据库连接

除了 sql 和 con 这两个关键参数，`read_table()`函数也有用来设置行索引的参数`index_col`，设置列索引的`columns`，实例如下：
```python
sql = 'select * from memberinfo'
eng = pymysql.connect(host = 'localhost',
                     user = 'user',
                     password = 'passwd',
                     db = 'db'
                     charset = 'utf8')
df = pd.read_sql(sql,eng)
df
```

## 4.2 新建数据

这里的新建数据主要指新建 DataFrame 数据，我们在第3章的时候讲过，利用`pd.DataFrame()`方法进行新建。

## 4.3 熟悉数据

当我们有了数据源以后，先别急着分析，应该先熟悉数据，只有对数据充分熟悉了，才能更好地进行分析。

### 4.3.1 利用head预览前几行

当数据表中包含数据行数过多时，而我们又想看一下每一列数据都是什么样的数据时，就可以只把数据表中前几行数据显示出来进行查看。

在Python中，当一个文件导入后，可以用`head()`方法来控制要显示哪些行。
<br>只需要在`head`后面的括号中输入要展示的行数即可，默认展示前5行。

In [17]:
df.head()

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  51  女  2018/8/12

In [18]:
df.head(2)

   编号  年龄 性别      注册时间
0  A1  54  男  2018/8/8
1  A2  16  女  2018/8/9

### 4.3.2 利用shape获取数据表的大小

熟悉数据的第一点就是先看一下数据表的大小，即数据表有多少行、多少列。

In [20]:
df.shape

(6, 4)

`shape`方法会以元组的形式返回行、列数，上面代码中的(6,4)表示df表有6行4列数据。**这里需要注意的是，Python中利用`shape`方法获取行数
和列数时不会把行索引和列索引计算在内**

### 4.3.3 利用info获取数据类型

熟悉数据的第二点就是看一下数据类型，不同的数据类型的分析思路是不一样的，比如数值类型的数据可以求均值，但是字符串类型的数
据就没法求均值了。

在Python中我们可以利用`info()`方法查看数据表中的数据类型，而且不需要一列一列查看，在调用info()方法以后就会输出整个表中所有列
的数据类型。

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
编号      6 non-null object
年龄      6 non-null int64
性别      6 non-null object
注册时间    6 non-null object
dtypes: int64(1), object(3)
memory usage: 320.0+ bytes

通过`info()`方法可以看出表df的行索引`index`是0~5，总共6columns，分别是编号、年龄、性别及注册时间，且6columns中只有年龄是int类
型，其他columns都是object类型，共占用内存320ytes

### 4.3.4 利用describe获取数值分布情况

熟悉数据的第三点就是掌握数值的分布情况，即均值是多少，最值是多少，方差及分位数分别又是多少。

在Python中只需要利用`describe()`方法就可以获取所有数值类型字段的分布值。

In [23]:
df.describe()

              年龄
count   6.000000
mean   39.166667
std    15.065413
min    16.000000
25%    29.750000
50%    44.000000
75%    50.000000
max    54.000000

表df中只有年龄这一列是数值类型，所以调用`describe()`方法时，只计算了年龄这一列的相关数值分布情况。

我们可以新建一个含有多列数值类型字段的DataFrame:

In [24]:
df43 = pd.DataFrame([[20,5000,2],[25,8000,3],[30,9000,3],[28,7000,2]],columns=['年龄','收入','家属数'])
df43

   年龄    收入  家属数
0  20  5000    2
1  25  8000    3
2  30  9000    3
3  28  7000    2

In [27]:
df43.describe()

              年龄           收入      家属数
count   4.000000     4.000000  4.00000
mean   25.750000  7250.000000  2.50000
std     4.349329  1707.825128  0.57735
min    20.000000  5000.000000  2.00000
25%    23.750000  6500.000000  2.00000
50%    26.500000  7500.000000  2.50000
75%    28.500000  8250.000000  3.00000
max    30.000000  9000.000000  3.00000

上面的表df43中年龄、收入、家属数都是数值类型，所以在调用`describe()`方法的时候，会同时计算这三列的数值分布情况。