<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#8-数据运算" data-toc-modified-id="8-数据运算-8">8 - 数据运算</a></span><ul class="toc-item"><li><span><a href="#8.1-算数运算" data-toc-modified-id="8.1-算数运算-8.1">8.1 算数运算</a></span></li><li><span><a href="#8.2-比较运算" data-toc-modified-id="8.2-比较运算-8.2">8.2 比较运算</a></span></li><li><span><a href="#8.3-汇总运算" data-toc-modified-id="8.3-汇总运算-8.3">8.3 汇总运算</a></span><ul class="toc-item"><li><span><a href="#8.3.1-count非空值计算" data-toc-modified-id="8.3.1-count非空值计算-8.3.1">8.3.1 count 非空值计算</a></span></li><li><span><a href="#8.3.2-sum()求和" data-toc-modified-id="8.3.2-sum()求和-8.3.2">8.3.2 sum () 求和</a></span></li><li><span><a href="#8.3.3-mean求平均值" data-toc-modified-id="8.3.3-mean求平均值-8.3.3">8.3.3 mean 求平均值</a></span></li><li><span><a href="#8.3.4-max求最大值" data-toc-modified-id="8.3.4-max求最大值-8.3.4">8.3.4 max 求最大值</a></span></li><li><span><a href="#8.3.5-min求最小值" data-toc-modified-id="8.3.5-min求最小值-8.3.5">8.3.5 min 求最小值</a></span></li><li><span><a href="#8.3.6-median求中位数" data-toc-modified-id="8.3.6-median求中位数-8.3.6">8.3.6 median 求中位数</a></span></li><li><span><a href="#8.3.7-mode求众数" data-toc-modified-id="8.3.7-mode求众数-8.3.7">8.3.7 mode 求众数</a></span></li><li><span><a href="#8.3.8-var求方差" data-toc-modified-id="8.3.8-var求方差-8.3.8">8.3.8 var 求方差</a></span></li><li><span><a href="#8.3.9-std求标准差" data-toc-modified-id="8.3.9-std求标准差-8.3.9">8.3.9 std 求标准差</a></span></li><li><span><a href="#8.3.10-quantile求分位数" data-toc-modified-id="8.3.10-quantile求分位数-8.3.10">8.3.10 <code>quantile</code> 求分位数</a></span></li></ul></li><li><span><a href="#8.4-相关性运算" data-toc-modified-id="8.4-相关性运算-8.4">8.4 相关性运算</a></span></li></ul></li></ul></div>

# 8-数据运算

## 8.1 算数运算

算术运算就是基本的加减乘除，在Excel或Python中数值类型的任意两列可以直接进行加、减、乘、除运算，而且是对应元素进行加、减、乘、除运算

Pandas中两列相加的如下：

In [5]:
import pandas as pd
df = pd.read_excel('data/Chapter08.xlsx',sheet_name='Sheet1',index_col=0)
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [6]:
df['C1'] + df['C2']

S1    3
S2    9
dtype: int64

两列相减

In [7]:
df['C3'] - df['C2']

S1    1
S2    1
dtype: int64

两列相乘

In [8]:
df['C1'] * df['C2']

S1     2
S2    20
dtype: int64

两列相除

In [9]:
df['C2'] / df['C1']

S1    2.00
S2    1.25
dtype: float64

任意一列加/减一个常数值，这一列中的所有都加减这个常数值，如下：

In [10]:
df['C1'] + 2

S1    3
S2    6
Name: C1, dtype: int64

In [11]:
df['C1'] - 2

S1   -1
S2    2
Name: C1, dtype: int64

任意一列乘/除一个常数值，这一列中的所有值都乘/除这一常数值

In [12]:
df['C1'] * 2

S1    2
S2    8
Name: C1, dtype: int64

In [13]:
df['C2'] /2

S1    1.0
S2    2.5
Name: C2, dtype: float64

## 8.2 比较运算

Pandas运算也是常规的大于、等于、小于之类的，只不过这里的比较是在列与列之间进行的。常见的比较运算符有以下几种：
```text
>、>=,<,<=,==,!=
```

下面是一些Pandas中列与列之间比较的例子:

In [14]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [15]:
df['C1'] > df['C2']

S1    False
S2    False
dtype: bool

In [16]:
df['C1'] != df['C2']

S1    True
S2    True
dtype: bool

In [17]:
df['C3'] > df['C1']

S1    True
S2    True
dtype: bool

## 8.3 汇总运算

汇总运算是将（多行/多列）数据进行汇总返回一个汇总以后的结果值。

### 8.3.1 count非空值计算

非空值计数就是计算某一个区域中非空（单元格）数值的个数。
<br>在 Pandas 中，**直接在整个数据表上调用 `count()`函数，返回的结果为该数据表中每列的非空值的个数**

In [18]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

**`count()`函数默认是求取每一列的非空数值的个数**，可以通过**修改axis参数让其等于1，来求取每一行的非空数值的个数**

In [19]:
df.count()

C1    2
C2    2
C3    2
dtype: int64

In [20]:
df.count(axis=1)

S1    3
S2    3
dtype: int64

**也可以把某一列或者某一行索引出来，单独查看这一列或这一行的非空值个数**

In [21]:
# 对C1列计算非空值个数
df['C1'].count()

2

In [32]:
# 对S1行计算非空值个数
df.loc['S1'].count()

3

### 8.3.2 sum()求和

在Pandas中，直接**在整个数据表上调用`sum()`函数，返回的是该数据表每一列的求和结果**

In [22]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [23]:
df.sum()

C1    5
C2    7
C3    9
dtype: int64

可通过修改axis参数，让其等于1，来对每一行的数值进行求和操作

In [25]:
df.sum(axis=1)

S1     6
S2    15
dtype: int64

也可以把某一列或者某一行索引出来，单独对这一列或这一行数据进行求和操作。

In [28]:
# 对C1列求和
df['C1'].sum()

5

In [30]:
# 对S1行求和
df.loc['S1'].sum()

6

### 8.3.3 mean求平均值

在Pandas中的求均值利用的是`mean()`函数，**如果对整个表直接调用mean()函数，返回的是该表中每一列的均值**

In [33]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [34]:
df.mean()

C1    2.5
C2    3.5
C3    4.5
dtype: float64

`mean()`函数默认是对数据表中的每一列进行求均值运算，可**通过修改 axis 参数，让其等于1，来对每一行进行求均值运算**

In [35]:
df.mean(axis=1)

S1    2.0
S2    5.0
dtype: float64

也可以把某一列或者某一行通过索引的方式取出来，然后在这一行或这一列上调用`mean()`函数，单独求取这一行或这一列的均值

In [36]:
df['C1'].mean()

2.5

In [37]:
df.loc['S1'].mean()

2.0

### 8.3.4 max求最大值

在Pandas中，和其他函数一样，如果对整个表直接调用`max()`函数，则返回该数据表中每一列的最大值。`max()`函数也可以对每一行求最大值，还可以单独对某一行或某一列求最大值。

In [38]:
df.max()

C1    4
C2    5
C3    6
dtype: int64

In [39]:
df.max(axis=1)

S1    3
S2    6
dtype: int64

In [41]:
df['C1'].max()

4

In [42]:
df.loc['S1'].max()

3

### 8.3.5 min求最小值

Pandas中都使用`min()`函数来求最小值，它的使用方法与求最大值的类似。

### 8.3.6 median求中位数

**中位数就是将一组含有n个数据的序列X按从小到大排列，位于中间位置的那个数**。

中位数是以中间位置的数来反映数据的一般情况，不容易受到极大值、极小值的影响，因而在反映数据分布情况上要比平均值更有代表性。

现有序列为X:{X 1 、X 2 、X 3 、......、X n }.
<br>如果n为奇数，则中位数为：
![image-20201217154734236](https://i.loli.net/2020/12/17/I3YUAEV8iX2sLK1.png)
如果n为偶数，则中位数：
![image-20201217154815366](https://i.loli.net/2020/12/17/JpjLohCfQZeGYsW.png)

在Pandas中，**`median()`函数的使用原则和其他函数的一致**

In [43]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [44]:
df.median()

C1    2.5
C2    3.5
C3    4.5
dtype: float64

In [45]:
df.median(axis=1)

S1    2.0
S2    5.0
dtype: float64

In [46]:
df['C1'].median()

2.5

In [47]:
df.loc['S1'].median()

2.0

### 8.3.7 mode求众数

**众数就是一组数据中出现次数最多的数，求众数就是返回这组数据中出现次数最多的那个数**.
<br>**在Excel和Python中求众数都使用`mode()`函数，使用原则与其他函数完全一致**。

In [50]:
df1 = pd.read_excel('data/Chapter08.xlsx',sheet_name='Sheet3',index_col=0)
df1

    C1  C2  C3
S1   1   1   3
S2   4   4   6
S3   1   1   3

In [51]:
# 对整个表调用mode()函数
df1.mode()

   C1  C2  C3
0   1   1   3

In [52]:
# 取每一行的众数
df1.mode(axis=1)

    0
S1  1
S2  4
S3  1

In [53]:
# C1列的众数
df1['C1'].mode()

0    1
dtype: int64

In [55]:
# S1行的众数
df1.loc['S1'].mode()

0    1
dtype: int64

### 8.3.8 var求方差

**方差是用来衡量一组数据的离散程度（即数据波动幅度）的**。

在Excel和Python中求一组数据中的方差都使用`var()`函数

**在Pandas中，`var()`函数的使用原则和其他函数的一致**

In [60]:
df1

    C1  C2  C3
S1   1   1   3
S2   4   4   6
S3   1   1   3

In [56]:
# 对整个表调用var()函数
df1.var()

C1    3.0
C2    3.0
C3    3.0
dtype: float64

In [57]:
# 求每一行的方差
df1.var(axis=1)

S1    1.333333
S2    1.333333
S3    1.333333
dtype: float64

In [58]:
# 求C1列的方差
df1['C1'].var()

3.0

In [59]:
# 求S1行的方差
df1.loc['S1'].var()

1.3333333333333335

### 8.3.9 std求标准差

**标准差是方差的平方根，二者都是用来表示数据的离散程度的**

在Pandas中计算标准差使用的是`std()`函数，`std()`函数的使用原则与其他函数的一致，示例如下：

In [61]:
df1

    C1  C2  C3
S1   1   1   3
S2   4   4   6
S3   1   1   3

In [62]:
df1.std()

C1    1.732051
C2    1.732051
C3    1.732051
dtype: float64

In [63]:
# 求每一行的标准差
df1.std(axis=1)

S1    1.154701
S2    1.154701
S3    1.154701
dtype: float64

In [64]:
# 求C1行的标准差
df1['C1'].std()

1.7320508075688772

In [65]:
# 求S1行的标准差
df1.loc['S1'].std()

1.1547005383792517

### 8.3.10 `quantile`求分位数

**分位数是比中位数更加详细的基于位置的指标**，分位数主要有四分之一分位数、四分之二分位数、四分之三分位数，而四分之二分位数就
是中位数。

在Pandas中求分位数用的是`quantile()`函数，**要在`quantile`后的括号中指明要求取的分位数值**，`quantile()`函数与其他函数的使用规则相同。

In [66]:
df1

    C1  C2  C3
S1   1   1   3
S2   4   4   6
S3   1   1   3

In [67]:
# 对整个表调用quantile()函数
df1.quantile(0.25)  # 求四分之一分位数

C1    1.0
C2    1.0
C3    3.0
Name: 0.25, dtype: float64

In [68]:
df1.quantile(0.75)  # 求四分之三分位数

C1    2.5
C2    2.5
C3    4.5
Name: 0.75, dtype: float64

In [69]:
# 求每一行的四分之一分位数
df1.quantile(0.25,axis=1)

S1    1.0
S2    4.0
S3    1.0
Name: 0.25, dtype: float64

In [70]:
# 求C1列的四分之分位数
df1['C1'].quantile(0.25)

1.0

In [71]:
# 求S1行的四分之一分位数
df1.loc['S1'].quantile()

1.0

## 8.4 相关性运算

**相关性常用来衡量两个事物之间的相关程度**，比如我们前面举的例子：啤酒与尿布二者的相关性很强。我们**一般用相关系数来衡量两者的相关程度**，所以相关性计算其实就是计算相关系数，**比较常用的是皮尔逊相关系数**。

**在Excel中求取相关系数用的是correl()函数**。

在Pandas中求取相关系数用的是`corr()`函数，示例如下

In [77]:
df2=pd.read_excel('data/Chapter08.xlsx',sheet_name='Sheet4')
df2

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
3    10    11    12
4    13    14    15

In [78]:
df2['col1'].corr(df2['col2'])  # 求取col1列与col2列的相关系数

1.0

还可以利用 `corr()`函数求取整个 DataFrame 表中各字段两两之间的相关性

In [79]:
df2.corr()

      col1  col2  col3
col1   1.0   1.0   1.0
col2   1.0   1.0   1.0
col3   1.0   1.0   1.0